<figure>
  <blockquote class="blockquote">
    <p class="fw-bold pb-3"><%= @ask %></p>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">You</cite>
    </figcaption>
  </blockquote>
</figure>

<figure>
  <blockquote class="blockquote">
    <p class="fw-bold pb-3"><%= @answer %></p>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Coach</cite>
    </figcaption>
  </blockquote>
</figure>
