<form action="answer" data-turbo="false" class="row py-3">
  <div class="col-10">
    <input type="text" name="ask" placeholder="Say something to your coach!" value="<%= params[:ask] %>" class="form-control">
  </div>
  <div class="col-2">
    <input type="submit" value="Ask!" class="btn btn-primary w-100">
  </div>
</form>