<h1>Ask a question to the Stupid Coach!</h1>
<div class="form">
  <form action="/answer" method="get">
    <input type="text" name="question" class="form-space">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>
